footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}
body{
    background-color: #f6f9fc;
}
a{
    /*#CBD3E3*/
    color: rgb(253, 247, 247);
}
.correoEnviado{
    text-align: center;
    background-color: crimson;
}
.correoRecibido{
    text-align: center;
    background-color: chartreuse;
}
.correoEmpresa{
    text-align: center;
    background-color: blue;
}
.tablalistado{
    background-color: rgb(166, 174, 197);
}
/*Cabecera de la tabla*/
.cabecolum{
    background-color: rgb(89, 172, 211);
}
#marcaerror{
    color: #FF0000;
    
}
#marcacorrecto{
    color: rgb(59, 134, 40);
    
}
