footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}
body{
    background-color: #66ffa6
}
a{
    color: #CBD3E3;
}
.correoEnviado{
    text-align: center;
    background-color: crimson;
}
.correoRecibido{
    text-align: center;
    background-color: chartreuse;
}
.correoEmpresa{
    text-align: center;
    background-color: blue;
}